/*/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Google Fonts*/
body{
	font-family: 'Open Sans', sans-serif;
}


/*Navigation Bar*/
/*1 rem = 16px (default font size)*/
nav{
/* Creates space from between the ul tag and the nav element	*/
	padding: 0.8rem;

/*Creates space between the nave and the intro section	*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;

}

/*Margin vs Padding*/
/*Margin is best used to create in between elements*/
/*Padding is best used when creating space an element border and its content*/

nav .nav, nav .nav-logo{
   /*Creates space between the ul and the nav elements*/
	margin: 0.5 rem;
	display: inline;
}

#intro{
/*Ctreates space between the contents of the intro section and it's border*/

padding-left: 10%;
padding-right: 10%;
padding-top: 2 rem;
padding-bottom: 3 rem;
min-height: 42vh;

/*Paddin 2rem 10% 3rem;*/
text-align: center;
}

.header{
/*Best used when horizontally aligning text of using margion and padding	*/
text-align: center;
}

#intro h2, #intro p{
/*Creates space between the content of the intro section	*/
margin-bottom: 1rem;
}

#intro button{
	color: white;
/*Changes he thickness of text	*/
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
/* Ctreate space betweeen the button text and the border	*/
padding: 1rem;

}

/*Succeed info section*/

#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2{
/*Creates space between the header and the card section*/
	margin-bottom: 1rem;
	font-size: 30px;
}

#succeed-info h3{
	text-align: center;
/*Creates space between the h3 tag and the paragraph tags*/
	margin-bottom: 1rem;
}



 #succeed-info .card{
	/*Allows the cards to appear beside each other	*/
	display: inline-block;

	/*	Aligns elements with the tallest element in line*/
	/*Used with the "inline-block" value*/
	vertical-align: top;

	/*Allows for cards to have equal height that adjust with the content*/
/* I changed the min height from 175px; to 100vh to temporarily push the footer to the bottom	*/
	min-height: 100vh;

	/*Measuremwnt is based on equally dividing the parenbt conmtainer's width*/
	/*only use 30% and not 33.33% because of margin to avoid overflow and horizontal scrolling*/
	width: 30%;

	/*creates horizontal spacing*/
	margin-left: 0.5rem;
	margin-right: 0.5rem;  }




#pre-footer .bluefooter{

	background-color: none;
	display: inline-block;
	margin-left: 1rem;
	margin-right: 1rem;
	width: 20%;
	color: white;
	height: 0px;	

}

footer{
	

	background-color: white;
	letter-spacing: 0.10rem;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	padding-left: 25px;
	z-index: 1;
	margin-top: 20px;
}

#pre-footer{
	background-color: rgb(0, 37, 64);
	padding-top: 20px;
	padding-bottom: 0px;
	margin-top: 10px;
	z-index: 1;

	
	
}

/*Adding height between the texts*/

p.text-height{
	line-height: 1.8;


